.navbar {
    background-color: darkgray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 15px 7px 15px 7px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.6em;
    font-weight: 600;
    padding-left: 40%;
}


.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    padding-top: 50px;
  }

table.items {
	border-width: 2px;
	border-spacing: 3px;
	border-style: inset;
	border-color: white;
	border-collapse: separate;
	background-color: white;
}
table.items th {
	border-width: 2px;
	padding: 5px;
	border-style: groove;
	border-color: gray;
	background-color: white;
    text-align: center;
}
table.items td {
	border-width: 2px;
	padding: 5px;
	border-style: groove;
	border-color: gray;
	background-color: white;
    text-align: center;
}