{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Store{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% set id_items = store.id.split(':') %}
    {% set store_name = store.id.split(':') %}
    {% set id_items = store.id.split(':') %}
    {% set id_items = store.id.split(':') %}
    {% set id_items = store.id.split(':') %}
    {% set id_items = store.id.split(':') %}
    <p>
    Product ID: {{ id_items[3] }}<br>
    Name: {{ store.name.value }}<br>
    Address Region: {{ store.addressRegion.value }}<br>
    Address Locality: {{ store.addressLocality.value }}<br>
    Street Address: {{ store.streetAddress.value }}<br>
    Postal Code: {{ store.postalCode.value }}<br>
    </p>
{% endblock %}