{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Store{% endblock %}</h1>
{% endblock %}
{% block content %}
    {% set id_items = store.id.split(':') %}
    {% set store_name = store.name.value %}
    {% set address_region = store.address.value.addressRegion %}
    {% set address_locality = store.address.value.addressLocality %}
    {% set street_address = store.address.value.streetAddress %}
    {% set postal_code = store.address.value.postalCode %}
    <p>
    Product ID: {{ id_items[3] }}<br>
    Name: {{ store_name }}<br>
    <address>
        Address Region: {{ address_region }}<br>
        Address Locality: {{ address_locality }}<br>
        Street Address: {{ street_address }}<br>
        Postal Code: {{ postal_code }}<br>
    </address>
    </p>
{% endblock %}